:root {
	--gridItemWidth: 16.015625%;
}

.Grid {
	font-size: 1rem;
	width: 100%;
}

	.Grid-item {
		background-color: #cbccce;
		background-repeat: no-repeat;
		background-size: cover;
		float: left;
		height: 0;
		padding-bottom: 100%;
		position: relative;
		width: 100%;
	}
	.Grid-item--video {
		background-image: url(../../images/video.jpg);
		cursor: pointer;
		padding-bottom: 50%;
	}

		.Grid-slice {
			background-repeat: no-repeat;
			background-size: cover;
			height: 0;
			padding-bottom: 50%;
			width: 100%;
		}
		.Grid-slice--baby {
			background-image: url(../../images/baby.jpg);
		}
		.Grid-slice--group {
			background-image: url(../../images/group.jpg);
		}
		.Grid-slice--favid {
			background-image: url(../../images/favid.jpg);
		}
		.Grid-slice--map {
			background-image: url(https://maps.googleapis.com/maps/api/staticmap?center=34+rue+Guersant+Paris&zoom=18&size=670x336&scale=2&key=AIzaSyBp-BpudWA67C1pIaEMCnpXfaTiXvKIq4M);
		}

@media screen and (--medium) {

	.Grid-item {
		padding-bottom: 33.3333334%;
		width: 16.6666667%;
	}
/*	.Grid-item:first-child {
		order: 0;
	}*/
	.Grid-item--double {
		width: 33.3333334%;
	}
	.Grid-item--triple {
		width: 50.0000001%;
	}
	.Grid-item--video {
		background-image: url(../../images/video.jpg);
	}
		.Grid-slice--baby,
		.Grid-slice--map {
			padding-bottom: 100%;
		}
		.Grid-slice--map {
			background-image: url(https://maps.googleapis.com/maps/api/staticmap?center=34+rue+Guersant+Paris&zoom=18&size=400x400&scale=2&key=AIzaSyBp-BpudWA67C1pIaEMCnpXfaTiXvKIq4M);
		}

}
