<header class='special container'>
  <span class='icon fa fa-university'></span>
</header>
<section class="wrapper style1 container special">
    <div class="row">
        <div class="6u">
          <h2>Our Mission</h2>
        </div>
        <div class="6u">
          <p>
            We believe that after a bachelor or a master degree, students are still not able to find
            the job they truly want, or fit their personality at best.
          </p>
          <p>
            Here at <b>JobTeaser</b>, we created a platform to help them follow their dream and make the
            best professionnal decisions they can make.
          </p>
          <p>
            It's called the <b>Career Center by JobTeaser</b>
          </p>
        </div>
    </div>
</section>
<header class='special container'>
  <span class='icon fa fa-code-fork'></span>
</header>
<section class="wrapper style1 container special">
    <div class="row">
        <div class="6u">
          <a href="https://dl.dropboxusercontent.com/u/1018963/Articles/SpotifyScaling.pdf"><h4>Spotify Model</h4></a>
          <p>
            We work as Squads of 2-4 people, on great projects, with a flat management model.
          </p>
          <p>
            We trust our developers, and believe that a happy developer is a performer.
          </p>
        </div>
        <div class="6u">
          <h2>
            Our Tech Organization
          </h2>
        </div>
    </div>
</section>
<header class='special container'>
  <span class='icon fa fa-floppy-o'></span>
</header>
<section class="wrapper style1 container special">
    <div class="row">
        <div class="6u">
          <h2>
            Our Stack
          </h2>
        </div>
        <div class="6u">
          <ul>
            <li>Ruby on Rails - MySQL - React - Docker</li>
            <li>Sinatra - Postgres - Elixir</li>
            <li>AWS - RedShift - Firehose(Kinesis) - Terraform - Python - Tableau</li>
            <li>native Android & iOS applications</li>            
          </ul>
        </div>
    </div>
</section>
<header class='special container'>
  <span class='icon fa fa-thumbs-o-up'></span>
</header>
<section class="wrapper style1 container special">
    <div class="row">
        <div class="6u">
          <ul>
            <li>Superb office in Paris</li>
            <li>Intern Hackatons</li>
            <li>Happy passinate coworkers</li>
            <li>Creativity day : each month in a coworking bar, try new technologies, create a new project, work on opensource softwares...</li>
            <li>Good times : Babyfoot, whole company in the bar on Friday...</li>
          </ul>
        </div>
        <div class="6u">
          <h2>
            JobTeaser is also
          </h2>
           <img src='images/happyatwork.jpg' height='80' width='162'> </img>
        </div>
    </div>
</section>