small {
  font-size: 80%;
}

// Countdown
#countdown {
  margin: 10px auto;
  max-width: 300px;
  .countdown-section {
    display: inline-block;
    text-align: center;
    width: 25%;
    .countdown-amount{
      font-weight: 600;
      display: block;
    }

    .countdown-period {
      font-size: 60%;
    }
  }
}
