.Nav {
	background-color: #000;
	display: flex;
	font-size: 1rem;
	justify-content: flex-end;
/*	transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
	transform-origin: center top 0;*/
	transition: top .3s ease 0s;
	position: relative;
	padding: 0.3125em 0;
	top: 0;
	width: 100%;
}
.Nav--folded {
	/*transform: matrix3d(1, 0, 0, 0, 0, 0, 1, 0.001, 0, -1, 0, 0, 0, 0, 0, 1);*/
	top: -2em;
	transition-delay: .3s;
}

	.Nav-list {
		padding: 0 1em;
	}

		.Nav-link {
			color: #fff;
			font-size: 0.8em;
		}
